@import url('https://fonts.googleapis.com/css2?family=Gasoek+One&display=swap');
*{
  transition: background-color;
  transition-duration: .6s;
  transition-timing-function: ease-in-out;
}
.customTitle{
  font-family: 'Gasoek One', sans-serif;
}
.trans-p
{
  overflow-wrap: break-word;
}
@media only screen and (max-width: 500px) {
  .copy {
    display: none;
  }
  .my-btn{
    width: 100%;
  }

}

